<configuration xmlns:patch="http://www.sitecore.net/ElasticSearchconfig/">
	<sitecore>
		<settings>
			<setting name="ContentSearch.EnableSearchDebug" value="true" />
			<setting name="ContentSearch.ElasticSearch.ServiceBaseAddress" value="http://devserver3:9200/" />
			<!--  SEARCH PROVIDER
			Set to which provider is currently being used			
			-->
			<setting name="ContentSearch.Provider" value="ElasticSearch" />

			<!--  BATCH MODE
			Commits to the database in batches (to reduce trips to the database / server).
			-->
			<setting name="ContentSearch.Update.BatchModeEnabled" value="true" />

			<!--  BATCH SIZE
			The size of document batch before flushing to the database.
			-->
			<setting name="ContentSearch.Update.BatchSize" value="500" />

			<!--  CONTENT SEARCH SEARCH MAX RESULTS
			The max number of results that a query returns.
			By default, ElasticSearch will return 10 hits if a result set size is not specified. 
			If you use the default ContentSearch value of "", which translates to int.MaxValue (2,147,483,647), you may receive an exception from ElasticSearch saying:
				"Out Of Memory : Requested array size exceeds VM limit"
				This indicates that the application attempted to allocate an array that is larger than the heap size. For example, if an application tries to allocate 
				an array of 512MB but the maximum heap size is 256MB, then this error will be thrown. In most cases the problem is likely to be either that the heap 
				size is too small or that a bug results in the application attempting to create an array whose size is calculated to be incorrectly huge
			
			To avoid this exception, you can increase the heap size for ElasticSearch, but it may be best to set a limit (do you really need to return up to 2.1 billion results?)
			It is also best to set this when you have an extremely large amount of items and you don't need to bring back all the items.			
			A common scenario is that people search for everything but only look at page 1 or 2 of the results.
			
			Default value: "" which translates to int.MaxValue
			-->
			<setting name="ContentSearch.SearchMaxResults" value="3000" />
		</settings>
		<contentSearch>
			<databasePropertyStore type="Sitecore.ContentSearch.Maintenance.IndexDatabasePropertyStore, Sitecore.ContentSearch">
				<Key>$(1)</Key>
				<Database>core</Database>
			</databasePropertyStore>
			<configuration type="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchConfiguration, Sitecore.ContentSearch.ElasticSearchProvider">
				<DefaultIndexConfiguration type="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchIndexConfiguration, Sitecore.ContentSearch.ElasticSearchProvider">
					<IndexFieldStorageValueFormatter type="Sitecore.ContentSearch.ElasticSearchProvider.Converters.ElasticSearchIndexFieldStorageValueFormatter, Sitecore.ContentSearch.ElasticSearchProvider" />
					
					<IndexDocumentPropertyMapper type="Sitecore.ContentSearch.ElasticSearchProvider.Mapping.ElasticSearchDocumentPropertyMapper, Sitecore.ContentSearch.ElasticSearchProvider" />
					
					<DocumentOptions type="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchDocumentBuilderOptions, Sitecore.ContentSearch.ElasticSearchProvider" />
					
					<IndexAllFields>true</IndexAllFields>

					<!-- GLOBALLY EXCLUDE TEMPLATES FROM BEING INDEXED
					This allows you to exclude items based off a certain template 
					-->
					<exclude hint="list:ExcludeTemplate">
						<BucketFolderTemplateId>{ADB6CA4F-03EF-4F47-B9AC-9CE2BA53FF97}</BucketFolderTemplateId>
					</exclude>

					<!-- GLOBALLY INCLUDE TEMPLATES IN INDEX
					This allows you to include items based off a certain template if you have IndexAllFields to false
					-->
					<!-- <include hint="list:IncludeTemplate">
						<BucketFolderTemplateId>{ADB6CA4F-03EF-4F47-B9AC-9CE2BA53FF97}</BucketFolderTemplateId>
					</include>-->

					<!-- GLOBALLY INCLUDE FIELDS IN INDEX
					This allows you to include specific fields if you have IndexAllFields to false
					-->
					<!--<include hint="list:IncludeField">
						<fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
					</include>-->

					<!-- EXCLUDE FIELDS FROM INDEX
					This allows you to exclude fields from being placed into the index if you have IndexAllFields to true
					-->
					<exclude hint="list:ExcludeField">
						<__Created>{25BED78C-4957-4165-998A-CA1B52F67497}</__Created>
						<__DefaultWorkflow>{CA9B9F52-4FB0-4F87-A79F-24DEA62CDA65}</__DefaultWorkflow>
						<__Lock>{001DD393-96C5-490B-924A-B0F25CD9EFD8}</__Lock>
						<__LongDescription>{577F1689-7DE4-4AD2-A15F-7FDC1759285F}</__LongDescription>
						<__Originator>{F6D8A61C-2F84-4401-BD24-52D2068172BC}</__Originator>
						<__Owner>{52807595-0F8F-4B20-8D2A-CB71D28C6103}</__Owner>
						<__ReadOnly>{9C6106EA-7A5A-48E2-8CAD-F0F693B1E2D4}</__ReadOnly>
						<__Renderings>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</__Renderings>
						<__Revision>{8CDC337E-A112-42FB-BBB4-4143751E123F}</__Revision>
						<__Security>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</__Security>
						<__ShortDescription>{9541E67D-CE8C-4225-803D-33F7F29F09EF}</__ShortDescription>
						<__SortOrder>{BA3F86A2-4A1C-4D78-B63D-91C2779C1B5E}</__SortOrder>
						<__Source>{1B86697D-60CA-4D80-83FB-7555A2E6CE1C}</__Source>
						<__Updated>{D9CF14B1-FA16-4BA6-9288-E8A174D4D522}</__Updated>
						<__UpdatedBy>{BADD9CF9-53E0-4D0C-BCC0-2D784C282F6A}</__UpdatedBy>
						<__ValidFrom>{C8F93AFE-BFD4-4E8F-9C61-152559854661}</__ValidFrom>
						<__Workflow>{A4F985D9-98B3-4B52-AAAF-4344F6E747C6}</__Workflow>
						<__WorkflowState>{3E431DE1-525E-47A3-B6B0-1CCBEC3A8C98}</__WorkflowState>
						<ArchiveDate>{56C15C6D-FD5A-40CA-BB37-64CEEC6A9BD5}</ArchiveDate>
						<ArchiveVersionDate>{1D99005E-65CA-45CA-9D9A-FD7016E23F1E}</ArchiveVersionDate>
						<Boost>{93D1B217-B8F4-462E-BABF-68298C9CE667}</Boost>
						<BucketParentReference>{9DAFCA1D-D618-4616-86B8-A8ACD6B28A63}</BucketParentReference>
						<Cacheable>{3D08DB46-2267-41B0-BC52-BE69FD618633}</Cacheable>
						<ContextMenu>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</ContextMenu>
						<Controller>{4C9312A5-2E4E-42F8-AB6F-B8DB8B82BF22}</Controller>
						<ControllerAction>{9FB734CC-8952-4072-A2D4-40F890E16F56}</ControllerAction>
						<DefaultBucketQuery>{AC51462C-8A8D-493B-9492-34D1F26F20F1}</DefaultBucketQuery>
						<DefaultView>{3607F9C7-DDA3-43C3-9720-39A7A5B3A4C3}</DefaultView>
						<Editor>{D85DB4EC-FF89-4F9C-9E7C-A9E0654797FC}</Editor>
						<Editors>{A0CB3965-8884-4C7A-8815-B6B2E5CED162}</Editors>
						<EnabledViews>{F2DB8BA1-E477-41F5-8EF5-22EEFA8D2F6E}</EnabledViews>
						<Facets>{21F74F6E-42D4-42A2-A4B4-4CEFBCFBD2BB}</Facets>
						<HelpLink>{56776EDF-261C-4ABC-9FE7-70C618795239}</HelpLink>
						<Hidden>{39C4902E-9960-4469-AEEF-E878E9C8218F}</Hidden>
						<HideVersion>{B8F42732-9CB8-478D-AE95-07E25345FB0F}</HideVersion>
						<Icon>{06D5295C-ED2F-4A54-9BF2-26228D113318}</Icon>
						<Masters>{1172F251-DAD4-4EFB-A329-0C63500E4F1E}</Masters>
						<NeverPublish>{9135200A-5626-4DD8-AB9D-D665B8C11748}</NeverPublish>
						<PersistentFilter>{C7815F60-96E1-40CB-BB06-B5F833F73B61}</PersistentFilter>
						<Preview>{41C6CC0E-389F-4D51-9990-FE35417B6666}</Preview>
						<Publish>{86FE4F77-4D9A-4EC3-9ED9-263D03BD1965}</Publish>
						<ReminderDate>{ABE5D54C-59D7-41E6-8D3F-C1A3E4EC9B9E}</ReminderDate>
						<ReminderText>{BB6C8540-118E-4C49-9157-830576D7345A}</ReminderText>
						<Renderers>{B03569B1-1534-43F2-8C83-BD064B7D782C}</Renderers>
						<Ribbon>{0C894AAB-962B-4A84-B923-CB24B05E60D2}</Ribbon>
						<Skin>{079AFCFE-8ACA-4863-BDA7-07893541E2F5}</Skin>
						<Style>{A791F095-2521-4B4D-BEF9-21DDA221F608}</Style>
						<SubItemSorting>{6FD695E7-7F6D-4CA5-8B49-A829E5950AE9}</SubItemSorting>
						<SuppressedValidationRules>{F47C0D78-61F9-479C-96DF-1159727D32C6}</SuppressedValidationRules>
						<UnPublish>{7EAD6FD6-6CF1-4ACA-AC6B-B200E7BAFE88}</UnPublish>
						<UserAgent>{4E678FC0-8D35-4AB7-BB49-156F33C8B955}</UserAgent>
						<ValidTo>{4C346442-E859-4EFD-89B2-44AEDF467D21}</ValidTo>
						<VaryByData>{8B6D532B-6128-4486-A044-CA06D90948BA}</VaryByData>
						<VaryByDevice>{C98CF969-BA71-42DA-833D-B3FC1368BA27}</VaryByDevice>
						<VaryByLogin>{8D9232B0-613F-440B-A2FA-DCDD80FBD33E}</VaryByLogin>
						<VaryByParam>{3AD2506A-DC39-4B1E-959F-9D524ADDBF50}</VaryByParam>
						<VaryByQueryString>{1084D3D2-0457-456A-ABBC-EB4CC0966072}</VaryByQueryString>
						<VaryByUser>{0E54A8DC-72AD-4372-A7C7-BB4773FAD44D}</VaryByUser>
						<VaryByIndex>{F3E7E552-D7C8-469B-A150-69E4E14AB35C}</VaryByIndex>
					</exclude>

					<!-- REMOVE INBUILT SITECORE FIELDS
					This allows you to store a field in different ways in the index. You may want to store a field as Analyzed and Not Analyze
					-->
					<fields hint="raw:RemoveSpecialFields">
						<remove type="both">AllTemplates</remove>
						<remove type="both">Created</remove>
						<remove type="both">DisplayName</remove>
						<remove type="both">Editor</remove>
						<remove type="both">Hidden</remove>
						<remove type="both">Icon</remove>
						<remove type="both">Links</remove>
						<remove type="both">Updated</remove>
					</fields>
					
					<!-- START: post 5 -->
					<!--<fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
						<fieldTypes hint="raw:AddFieldByFieldName">
							<fieldType fieldName="Text" storageType="CDATA" settingType="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchFieldConfiguration, Sitecore.ContentSearch.ElasticSearchProvider" />
						</fieldTypes>
						<fieldTypes hint="raw:AddFieldByFieldTypeName">
							<fieldType fieldTypeName="text" storageType="REGULAR" settingType="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchFieldConfiguration, Sitecore.ContentSearch.ElasticSearchProvider" />
							--><!-- START: post 6 --><!--
							<fieldType fieldTypeName="checkbox" settingType="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchFieldConfiguration, Sitecore.ContentSearch.ElasticSearchProvider" />
							<fieldType fieldTypeName="date" settingType="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchFieldConfiguration, Sitecore.ContentSearch.ElasticSearchProvider" />
							--><!-- END: post 6 --><!--
						</fieldTypes>
					</fieldMap>-->
					<!-- END: post 5 -->
					
					<FieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
						<mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
							<fieldReader fieldTypeName="checkbox"                                             fieldReaderType="Sitecore.ContentSearch.FieldReaders.CheckboxFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="date|datetime"                                        fieldReaderType="Sitecore.ContentSearch.FieldReaders.DateFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="image"                                                fieldReaderType="Sitecore.ContentSearch.FieldReaders.ImageFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="single-line text|multi-line text|text|memo|reference" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DefaultFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="integer|number"                                       fieldReaderType="Sitecore.ContentSearch.FieldReaders.NumericFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="html|rich text"                                       fieldReaderType="Sitecore.ContentSearch.FieldReaders.RichTextFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="multilist with search|treelist with search"           fieldReaderType="Sitecore.ContentSearch.FieldReaders.DelimitedListFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="checklist|multilist|treelist|treelistex|tree list"    fieldReaderType="Sitecore.ContentSearch.FieldReaders.MultiListFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="icon|droplist|grouped droplist"                       fieldReaderType="Sitecore.ContentSearch.FieldReaders.DefaultFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="name lookup value list|name value list"               fieldReaderType="Sitecore.ContentSearch.FieldReaders.NameValueListFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="droplink|droptree|grouped droplink|tree"              fieldReaderType="Sitecore.ContentSearch.FieldReaders.LookupFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="attachment|frame|rules|tracking|thumbnail"            fieldReaderType="Sitecore.ContentSearch.FieldReaders.NullFieldReader, Sitecore.ContentSearch" />
							<fieldReader fieldTypeName="file|security|server file|template field source|link" fieldReaderType="Sitecore.ContentSearch.FieldReaders.NullFieldReader, Sitecore.ContentSearch" />
						</mapFieldByTypeName>
					</FieldReaders>
				</DefaultIndexConfiguration>

				<indexes hint="list:AddIndex">
					<index id="sitecorepedia_master_index" type="Sitecore.ContentSearch.ElasticSearchProvider.ElasticSearchIndex, Sitecore.ContentSearch.ElasticSearchProvider">
						<param desc="name">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/databasePropertyStore" param1="$(id)" />
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.ElasticSearchProvider.Crawlers.ElasticSearchDatabaseCrawler, Sitecore.ContentSearch.ElasticSearchProvider">
								<Database>master</Database>
								<Root>/sitecore</Root>
							</crawler>
						</locations>
						<strategies hint="list:AddStrategy">
							<strategy type="Sitecore.ContentSearch.Maintenance.Strategies.SynchronousStrategy, Sitecore.ContentSearch">
								<param desc="database">master</param>
							</strategy>
						</strategies>
					</index>
				</indexes>
			</configuration>
		</contentSearch>
	</sitecore>
</configuration>